{% load i18n %}
{% load static %}
<div id="left-sidebar" class="sidebar light_active">
    <a href="javascript:void(0);" class="menu_toggle"><i class="fa fa-angle-left"></i></a>
    <div class="navbar-brand">
        <a href="{% url 'dashboard' %}"><img src="{% static 'assets/images/icon.svg' %}" alt="Mooli Logo" class="img-fluid logo"><span>{% trans "Mooli-Hospital" %}</span></a>
        <button type="button" class="btn-toggle-offcanvas btn btn-sm float-right"><i class="fa fa-close"></i></button>
    </div>
    <div class="sidebar-scroll">
        <div class="user-account">
            <div class="user_div">
                <img src="{% static 'assets/images/user.png' %}" class="user-photo" alt="User Profile Picture">
            </div>
            <div class="dropdown">
                <span>{% trans "Welcome" %}</span>
                <a href="javascript:void(0);" class="dropdown-toggle user-name" data-toggle="dropdown"><strong>{{ user.first_name|default:user.email }}</strong></a>
                <ul class="dropdown-menu dropdown-menu-right account vivify flipInY">
                    <li><a href="javascript:void(0);"><i class="fa fa-user"></i>{% trans "My Profile" %}</a></li>
                    <li><a href="javascript:void(0);"><i class="fa fa-envelope"></i>{% trans "Messages" %}</a></li>
                    <li><a href="javascript:void(0);"><i class="fa fa-gear"></i>{% trans "Settings" %}</a></li>
                    <li class="divider"></li>
                    <li><a href="{% url 'logout' %}"><i class="fa fa-power-off"></i>{% trans "Logout" %}</a></li>
                </ul>
            </div>
            {% if user.is_authenticated %}
                <div class="dropdown mt-2">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">{% trans "Switch Company" %}</a>
                    <ul class="dropdown-menu">
                        {% for company in user.userprofile.companies.all %}
                            <li class="{% if company == user.userprofile.current_company %}active{% endif %}"><a href="{% url 'switch_company' company.id %}">{{ company.name }}</a></li>
                        {% empty %}
                            <li><a href="javascript:void(0);">{% trans "No companies available" %}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="dropdown mt-2">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">{% trans "Language" %}</a>
                    <ul class="dropdown-menu">
                        {% get_current_language as CURRENT_LANG %}
                        <li class="{% if user.userprofile.default_language == 'en' %}active{% endif %}">
                            <a href="{% url 'set_language' %}?lang=en&next={{ request.path }}">
                                <img src="{% static 'assets/images/flag/us.svg' %}" alt="US English" class="flag-icon"> 
                                {% trans "English" %}
                            </a>
                        </li>
                        <li class="{% if user.userprofile.default_language == 'fr' %}active{% endif %}">
                            <a href="{% url 'set_language' %}?lang=fr&next={{ request.path }}">
                                <img src="{% static 'assets/images/flag/france.svg' %}" alt="French" class="flag-icon"> 
                                {% trans "French" %}
                            </a>
                        </li>
                    </ul>
                </div>
            {% endif %}
        </div>
        <nav id="left-sidebar-nav" class="sidebar-nav">
            <ul id="main-menu" class="metismenu animation-li-delay">
                <li class="header">{% trans "Hospital" %}</li>
                <li class="{% if request.path == '/' or request.path == '/en/' or request.path == '/fr/' %}active{% endif %}">
                    <a href="{% url 'dashboard' %}">
                        <i class="fa fa-dashboard"></i>
                        <span>{% trans "Dashboard" %}</span>
                    </a>
                </li>
                <li class="{% if '/ai_chatbot/web/' in request.path %}active{% endif %}">
                    <a href="{% url 'web_chat' %}">
                        <i class="fa fa-comments"></i>
                        <span>{% trans "Chat" %}</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
<style>
    .flag-icon {
        width: 20px;
        height: 20px;
        margin-right: 8px;
        vertical-align: middle;
    }
</style>