{% extends 'auth_base.html' %}
{% load i18n %}
{% load static %}
{% block title %}{% trans "Forgot Password - Mooli" %}{% endblock %}
{% block content %}
<div class="auth-main" style="display: block; visibility: visible;">
    <div class="auth_div">
        <div class="auth_brand">
            <a class="navbar-brand" href="{% url 'dashboard' %}"><img src="{% static 'assets/images/icon.svg' %}" width="50" class="d-inline-block align-top mr-2" alt="">{% trans "Mooli" %}</a>
        </div>
        <div class="card">
            <div class="header">
                <p class="lead">{% trans "Reset your password" %}</p>
            </div>
            <div class="body">
                <form class="form-auth-small" method="post" action="{% url 'forgot_password' %}">
                    {% csrf_token %}
                    <div class="form-group c_form_group">
                        <label>{% trans "Email" %}</label>
                        <input type="email" name="email" class="form-control" required>
                    </div>
                    <button type="submit" class="btn btn-dark btn-lg btn-block">{% trans "SUBMIT" %}</button>
                    <div class="bottom">
                        <span>{% trans "Remember your password?" %} <a href="{% url 'login' %}">{% trans "Login" %}</a></span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}