{% extends 'auth_base.html' %}
{% load i18n %}
{% load static %}
{% block title %}{% trans "Forgot Password - Mooli" %}{% endblock %}
{% block content %}
<div class="auth-main">
    <div class="auth_div vivify fadeIn">
        <div class="auth_brand">
            <a class="navbar-brand" href="{% url 'dashboard' %}"><img src="{% static 'assets/images/icon.svg' %}" width="50" class="d-inline-block align-top mr-2" alt="">{% trans "Mooli" %}</a>
        </div>
        <div class="card">
            <div class="header">
                <p class="lead">{% trans "Reset your password" %}</p>
            </div>
            <div class="body">
                {% if form.errors %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong>{% trans "Error!" %}</strong> 
                    {% if form.non_field_errors %}
                        {{ form.non_field_errors }}
                    {% else %}
                        {% trans "Please correct the error below." %}
                    {% endif %}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endif %}
                
                {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    {% endfor %}
                {% endif %}
                <form class="form-auth-small" method="post" action="{% url 'password_reset' %}">
                    {% csrf_token %}
                    <div class="form-group c_form_group">
                        <label>{% trans "Email" %}</label>
                        {{ form.email }}
                        {% if form.email.errors %}
                            <div class="invalid-feedback d-block">
                                {{ form.email.errors }}
                            </div>
                        {% endif %}
                    </div>
                    <button type="submit" class="btn btn-dark btn-lg btn-block">{% trans "SUBMIT" %}</button>
                    <div class="bottom">
                        <span>{% trans "Remember your password?" %} <a href="{% url 'login' %}">{% trans "Login" %}</a></span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="animate_lines">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
</div>
{% endblock %}