{% extends 'auth_base.html' %}
{% load i18n %}
{% load static %}
{% block title %}{% trans "Login - Mooli" %}{% endblock %}
{% block content %}
<div class="auth-main">
    <div class="auth_div vivify fadeIn">
        <div class="auth_brand">
            <a class="navbar-brand" href="{% url 'dashboard' %}"><img src="{% static 'assets/images/icon.svg' %}" width="50" class="d-inline-block align-top mr-2" alt="">{% trans "Mooli" %}</a>
        </div>
        <div class="card">
            <div class="header">
                <p class="lead">{% trans "Login to your account" %}</p>
            </div>
            <div class="body">
                {% if form.errors %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong>Error!</strong> 
                    {% if form.non_field_errors %}
                        {{ form.non_field_errors }}
                    {% else %}
                        Please correct the errors below.
                    {% endif %}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endif %}
                <form class="form-auth-small" method="post" action="{% url 'login' %}">
                    {% csrf_token %}
                    <div class="form-group c_form_group">
                        <label>{% trans "Email" %}</label>
                        {{ form.username }}
                        {% if form.username.errors %}
                            <div class="invalid-feedback d-block">
                                {{ form.username.errors }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="form-group c_form_group">
                        <label>{% trans "Password" %}</label>
                        {{ form.password }}
                        {% if form.password.errors %}
                            <div class="invalid-feedback d-block">
                                {{ form.password.errors }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="form-group clearfix">
                        <label class="fancy-checkbox element-left">
                            <input type="checkbox" name="remember">
                            <span>{% trans "Remember me" %}</span>
                        </label>
                    </div>
                    <button type="submit" class="btn btn-dark btn-lg btn-block">{% trans "LOGIN" %}</button>
                    <div class="bottom">
                        <span class="helper-text m-b-10"><i class="fa fa-lock"></i> <a href="{% url 'password_reset' %}">{% trans "Forgot password?" %}</a></span>
                        <span>{% trans "Don't have an account?" %} <a href="{% url 'register' %}">{% trans "Register" %}</a></span>
                    </div>
                    <input type="hidden" name="next" value="{{ next }}">
                </form>
            </div>
        </div>
    </div>
    <div class="animate_lines">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
</div>
{% endblock %}