{% extends 'auth_base.html' %}
{% load i18n %}
{% load static %}
{% block title %}{% trans "Password Reset Complete - Mooli" %}{% endblock %}
{% block content %}
<div class="auth-main">
    <div class="auth_div vivify fadeIn">
        <div class="auth_brand">
            <a class="navbar-brand" href="{% url 'dashboard' %}"><img src="{% static 'assets/images/icon.svg' %}" width="50" class="d-inline-block align-top mr-2" alt="">{% trans "Mooli" %}</a>
        </div>
        <div class="card">
            <div class="header">
                <p class="lead">{% trans "Password Reset Complete" %}</p>
            </div>
            <div class="body">
                <p>{% trans "Your password has been set. You may go ahead and log in now." %}</p>
                <a href="{% url 'login' %}" class="btn btn-dark btn-lg btn-block">{% trans "Log In" %}</a>
            </div>
        </div>
    </div>
    <div class="animate_lines">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
</div>
{% endblock %}