{% extends 'auth_base.html' %}
{% load i18n %}
{% load static %}
{% block title %}{% trans "Password Reset Sent - Mooli" %}{% endblock %}
{% block content %}
<div class="auth-main" style="display: block; visibility: visible;">
    <div class="auth_div vivify fadeIn">
        <div class="auth_brand">
            <a class="navbar-brand" href="{% url 'dashboard' %}"><img src="{% static 'assets/images/icon.svg' %}" width="50" class="d-inline-block align-top mr-2" alt="">{% trans "Mooli" %}</a>
        </div>
        <div class="card">
            <div class="header">
                <p class="lead">{% trans "Password Reset Sent" %}</p>
            </div>
            <div class="body">
                <p>{% trans "We've emailed you instructions for setting your password. If you don't receive an email, please check your spam folder." %}</p>
                <a href="{% url 'login' %}" class="btn btn-dark btn-lg btn-block">{% trans "Back to Login" %}</a>
            </div>
        </div>
    </div>
    <div class="animate_lines">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
</div>
{% endblock %}