{% extends 'auth_base.html' %}
{% load i18n %}
{% load static %}
{% block title %}{% trans "Register - Mooli" %}{% endblock %}
{% block content %}
<div class="auth-main">
    <div class="auth_div vivify fadeIn">
        <div class="auth_brand">
            <a class="navbar-brand" href="{% url 'dashboard' %}"><img src="{% static 'assets/images/icon.svg' %}" width="50" class="d-inline-block align-top mr-2" alt="">{% trans "Mooli" %}</a>
        </div>
        <div class="card">
            <div class="header">
                <p class="lead">{% trans "Create an account" %}</p>
            </div>
            <div class="body">
                <form class="form-auth-small" method="post" action="{% url 'register' %}">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group c_form_group">
                                <label>{% trans "First Name" %}</label>
                                {{ form.first_name }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group c_form_group">
                                <label>{% trans "Last Name" %}</label>
                                {{ form.last_name }}
                            </div>
                        </div>
                    </div>
                    <div class="form-group c_form_group">
                        <label>{% trans "Email" %}</label>
                        {{ form.email }}
                    </div>
                    <div class="form-group c_form_group">
                        <label>{% trans "Password" %}</label>
                        {{ form.password }}
                    </div>
                    <button type="submit" class="btn btn-dark btn-lg btn-block">{% trans "REGISTER" %}</button>
                    <div class="bottom">
                        <span>{% trans "Already have an account?" %} <a href="{% url 'login' %}">{% trans "Login" %}</a></span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="animate_lines">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
</div>
{% endblock %}