# Python/Django
*.pyc
__pycache__/
*.pyo
*.pyd
.Python
*.sqlite3
*.db
*.log
*.rdb
.python-version

# Virtual environment
env/
ENV/
new_env/
NEW_ENV/

# Django static and media
/staticfiles/
/media/

# macOS
.DS_Store
Thumbs.db

# IDEs and editors
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
*.swp
*.swo

# Django migrations (optional, include if you want to track migrations)
# mooli_app/migrations/*

# Sensitive files
*.env
*.secret
*.key

# Keep locale and submission files
!locale/
temp_uploads/
faiss_index/
!submission-lab1/.DS_Store
!submission-lab2/.DS_Store
